*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main .build-best{
    background-image: url(../images/Rectangle\ 1.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-blend-mode: multiply; 
    background-color: rgba(0,0,0,0.9);
}

main .build-best .landing-txt{
    margin-top: 30%;
}

main .training .training-img{
  background-image: url(../images/Frame\ 56.png);
  background-repeat: no repeat;
  background-position: center;
  background-size: cover;
}
      

